.slider {
  background: transparent;
  height: 310px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
}

.slider::before,
.slider::after {
  background: linear-gradient(to right, rgb(32,21,58,1) 0%, rgba(4,1,13,0) 100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 200px;
  z-index: 2;
}

/* .slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
} */

.slider::before {
  left: 0;
  top: 0;
}

.slidetrack {
  animation: scroll 60s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slide {
  height: 100%;
  width: 150px;
  margin: 5px;
}

.slide img {
  height: 100%;
   object-fit: cover;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 3));
  }
}